* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_2 {
  width: 100%;
  height: 9819px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_4 {
  width: 100%;
  height: 839px;
  background: url("../images/v3_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v3_61 {
  width: 100%;
  height: 100%;
  background: url("../images/v3_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 778px;
  left: 313px;
  overflow: hidden;
}
.v4_167 {
  width: 100%;
  height: 100%;
  background: url("../images/v4_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6036px;
  left: 251px;
  overflow: hidden;
}
.v3_9 {
  width: 100%;
  height: 746px;
  background: url("../images/v3_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v3_7 {
  width: 308px;
  height: 57px;
  background: url("../images/v3_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 103px;
  overflow: hidden;
}
.v3_17 {
  width: 496px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 289px;
  left: 103px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.v3_67 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2062px;
  left: 102px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.v4_106 {
  width: 677px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1499px;
  left: 102px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.v3_63 {
  width: 853px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 1234px;
  left: 102px;
  overflow: hidden;
}
.v3_64 {
  width: 390px;
  height: 53px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 1296px;
  left: 397px;
  overflow: hidden;
}
.v3_65 {
  width: 444px;
  height: 48px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 1356px;
  left: 102px;
  overflow: hidden;
}
.v3_62 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1230px;
  left: 115px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_141 {
  width: 760px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 4740px;
  left: 102px;
  overflow: hidden;
}
.v4_142 {
  width: 312px;
  height: 53px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 4802px;
  left: 435px;
  overflow: hidden;
}
.v4_143 {
  width: 100%;
  height: 48px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 4862px;
  left: 103px;
  overflow: hidden;
}
.v4_144 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4736px;
  left: 115px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v3_18 {
  width: 383px;
  height: 283px;
  background: rgba(39,39,39,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 103px;
  overflow: hidden;
}
.v3_19 {
  width: 383px;
  height: 283px;
  background: rgba(39,39,39,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 78px;
  overflow: hidden;
}
.v3_20 {
  width: 383px;
  height: 283px;
  background: rgba(39,39,39,0.8100000023841858);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 461px;
  overflow: hidden;
}
.v3_21 {
  width: 812px;
  height: 283px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1122px;
  left: 1273px;
  overflow: hidden;
}
.v3_22 {
  width: 382px;
  height: 283px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 1122px;
  left: 461px;
  overflow: hidden;
}
.v4_72 {
  width: 730px;
  height: 356px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 2631px;
  left: 424px;
  overflow: hidden;
}
.v4_73 {
  width: 730px;
  height: 356px;
  background: rgba(53,52,52,1);
  opacity: 1;
  position: absolute;
  top: 2631px;
  left: 1153px;
  overflow: hidden;
}
.v4_74 {
  width: 729px;
  height: 354px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 2985px;
  left: 423px;
  overflow: hidden;
}
.v4_75 {
  width: 730px;
  height: 354px;
  background: rgba(81,80,80,1);
  opacity: 1;
  position: absolute;
  top: 2985px;
  left: 1153px;
  overflow: hidden;
}
.v4_76 {
  width: 729px;
  height: 354px;
  background: rgba(91,91,91,1);
  opacity: 1;
  position: absolute;
  top: 3339px;
  left: 423px;
  overflow: hidden;
}
.v4_81 {
  width: 730px;
  height: 354px;
  background: rgba(65,65,65,1);
  opacity: 1;
  position: absolute;
  top: 3339px;
  left: 1153px;
  overflow: hidden;
}
.v3_23 {
  width: 382px;
  height: 283px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 1122px;
  left: 78px;
  overflow: hidden;
}
.v3_25 {
  width: 298px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 603px;
  left: 145px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_66 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 885px;
  left: 504px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v3_28 {
  width: 294px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 603px;
  left: 121px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_30 {
  width: 311px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 884px;
  left: 147px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_31 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 884px;
  left: 123px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_29 {
  width: 321px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 603px;
  left: 504px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_33 {
  width: 56px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 145px;
  border-radius: 50%;
}
.v3_34 {
  width: 24px;
  background: url("../images/v3_34.png");
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 165px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v4_104 {
  width: 78px;
  height: 78px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2852px;
  left: 156px;
  border-radius: 50%;
}
.v4_105 {
  width: 33px;
  background: url("../images/v4_105.png");
  opacity: 1;
  position: absolute;
  top: 2902px;
  left: 183px;
  border: 2px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v3_35 {
  width: 56px;
  height: 56px;
  background: url("../images/v3_35.png");
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 123px;
  border-radius: 50%;
}
.v3_36 {
  width: 24px;
  background: url("../images/v3_36.png");
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 143px;
  border: 2px solid rgba(78,78,78,1);
  transform: rotate(-45deg);
}
.v3_39 {
  width: 56px;
  height: 56px;
  background: url("../images/v3_39.png");
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 145px;
  border-radius: 50%;
}
.v3_40 {
  width: 24px;
  background: url("../images/v3_40.png");
  opacity: 1;
  position: absolute;
  top: 1060px;
  left: 165px;
  border: 2px solid rgba(78,78,78,1);
  transform: rotate(-45deg);
}
.v3_41 {
  width: 56px;
  height: 56px;
  background: url("../images/v3_41.png");
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 123px;
  border-radius: 50%;
}
.v3_42 {
  width: 24px;
  background: url("../images/v3_42.png");
  opacity: 1;
  position: absolute;
  top: 1060px;
  left: 143px;
  border: 2px solid rgba(78,78,78,1);
  transform: rotate(-45deg);
}
.v3_37 {
  width: 56px;
  height: 56px;
  background: url("../images/v3_37.png");
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 504px;
  border-radius: 50%;
}
.v3_38 {
  width: 24px;
  background: url("../images/v3_38.png");
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 524px;
  border: 2px solid rgba(78,78,78,1);
  transform: rotate(-45deg);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_168 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6138px;
  left: 435px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.v4_177 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6315px;
  left: 1002px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_138 {
  width: 714px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4448px;
  left: 103px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_77 {
  width: 374px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2331px;
  left: 156px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_78 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2328px;
  left: 472px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_79 {
  width: 260px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2682px;
  left: 156px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_80 {
  width: 216px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2684px;
  left: 477px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_83 {
  width: 489px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3033px;
  left: 156px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_84 {
  width: 451px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3040px;
  left: 477px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_107 {
  width: 655px;
  height: 228px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1737px;
  left: 102px;
  overflow: hidden;
}
.v4_110 {
  width: 252px;
  height: 228px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 1737px;
  left: 119px;
  overflow: hidden;
}
.v4_108 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1689px;
  left: 145px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 104px;
  opacity: 1;
  text-align: left;
}
.v4_109 {
  width: 407px;
  color: rgba(76,76,76,1);
  position: absolute;
  top: 1810px;
  left: 153px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_204 {
  width: 100%;
  height: 100%;
  background: url("../images/v4_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6447px;
  left: 76px;
  overflow: hidden;
}
.v4_112 {
  width: 392px;
  height: 228px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1737px;
  left: 371px;
  overflow: hidden;
}
.v4_113 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1689px;
  left: 414px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 104px;
  opacity: 1;
  text-align: left;
}
.v4_114 {
  width: 304px;
  color: rgba(76,76,76,1);
  position: absolute;
  top: 1810px;
  left: 422px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_115 {
  width: 391px;
  height: 228px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 1737px;
  left: 763px;
  overflow: hidden;
}
.v4_116 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1689px;
  left: 809px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 104px;
  opacity: 1;
  text-align: left;
}
.v4_117 {
  width: 311px;
  color: rgba(76,76,76,1);
  position: absolute;
  top: 1810px;
  left: 814px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_111 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1797px;
  left: 155px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_120 {
  width: 975px;
  height: 864px;
  background: url("../images/v4_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3479px;
  left: 0px;
  overflow: hidden;
}
.v4_123 {
  width: 705px;
  height: 853px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 3595px;
  left: 566px;
  overflow: hidden;
}
.v4_145 {
  width: 100%;
  height: 1000px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 6039px;
  left: 0px;
  overflow: hidden;
}
.v4_182 {
  width: 420px;
  height: 346px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 7059px;
  left: 0px;
  overflow: hidden;
}
.v4_184 {
  width: 420px;
  height: 346px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 7059px;
  left: 12px;
  overflow: hidden;
}
.v4_185 {
  width: 420px;
  height: 346px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 7059px;
  left: 432px;
  overflow: hidden;
}
.v4_186 {
  width: 420px;
  height: 346px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 7059px;
  left: 852px;
  overflow: hidden;
}
.v4_134 {
  width: 706px;
  height: 105px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 4448px;
  left: 566px;
  overflow: hidden;
}
.v4_124 {
  width: 529px;
  color: rgba(252,244,143,1);
  position: absolute;
  top: 4175px;
  left: 38px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_127 {
  width: 418px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3661px;
  left: 636px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_128 {
  width: 553px;
  height: 75px;
  background: url("../images/v4_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3815px;
  left: 636px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_129 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3839px;
  left: 668px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_130 {
  width: 553px;
  height: 75px;
  background: url("../images/v4_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3920px;
  left: 636px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_131 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3944px;
  left: 668px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_132 {
  width: 553px;
  height: 188px;
  background: url("../images/v4_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4025px;
  left: 636px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_133 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4049px;
  left: 668px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_136 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4378px;
  left: 799px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_135 {
  width: 454px;
  color: rgba(147,147,147,1);
  position: absolute;
  top: 4243px;
  left: 670px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_147 {
  width: 800px;
  height: 1000px;
  background: url("../images/v4_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5039px;
  left: 221px;
  overflow: hidden;
}
.v4_150 {
  width: 494px;
  color: url("../images/v4_150.png");
  position: absolute;
  top: 5713px;
  left: 103px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_149 {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5553px;
  left: 102px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_151 {
  width: 714px;
  color: rgba(252,244,143,1);
  position: absolute;
  top: 5563px;
  left: 33px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.v4_164 {
  width: 250px;
  height: 252px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 5287px;
  left: 1021px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_160 {
  width: 157px;
  height: 157px;
  background: url("../images/v4_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5082px;
  left: 1067px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v4_161 {
  width: 157px;
  height: 157px;
  background: url("../images/v4_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5334px;
  left: 1067px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v4_162 {
  width: 157px;
  height: 157px;
  background: url("../images/v4_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5585px;
  left: 1067px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v4_163 {
  width: 157px;
  height: 157px;
  background: url("../images/v4_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5836px;
  left: 1067px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v4_173 {
  width: 60px;
  height: 60px;
  background: url("../images/v4_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6306px;
  left: 905px;
  overflow: hidden;
}
.v4_171 {
  width: 60px;
  height: 60px;
  background: rgba(40,40,40,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_172 {
  width: 19px;
  background: url("../images/v4_172.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 39px;
  border: 2px solid rgba(255,255,255,1);
  transform: rotate(-179deg);
}
.v4_174 {
  width: 60px;
  height: 60px;
  background: url("../images/v4_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6366px;
  left: 1154px;
  overflow: hidden;
}
.v4_175 {
  width: 60px;
  height: 60px;
  background: rgba(40,40,40,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_176 {
  width: 19px;
  background: url("../images/v4_176.png");
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 39px;
  border: 2px solid rgba(255,255,255,1);
}
.v4_178 {
  width: 420px;
  height: 295px;
  background: url("../images/v4_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6418px;
  left: 0px;
  overflow: hidden;
}
.v4_179 {
  width: 420px;
  height: 295px;
  background: url("../images/v4_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6418px;
  left: 12px;
  overflow: hidden;
}
.v4_180 {
  width: 419px;
  height: 295px;
  background: url("../images/v4_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6418px;
  left: 432px;
  overflow: hidden;
}
.v4_181 {
  width: 420px;
  height: 295px;
  background: url("../images/v4_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6418px;
  left: 851px;
  overflow: hidden;
}
.v4_187 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6751px;
  left: 56px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_190 {
  width: 56px;
  height: 56px;
  background: url("../images/v4_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6957px;
  left: 56px;
  overflow: hidden;
}
.v4_188 {
  width: 56px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_189 {
  width: 24px;
  background: url("../images/v4_189.png");
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 20px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v4_191 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6751px;
  left: 56px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_192 {
  width: 56px;
  height: 56px;
  background: url("../images/v4_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6957px;
  left: 56px;
  overflow: hidden;
}
.v4_193 {
  width: 56px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_194 {
  width: 24px;
  background: url("../images/v4_194.png");
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 20px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v4_195 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6751px;
  left: 480px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_196 {
  width: 56px;
  height: 56px;
  background: url("../images/v4_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6957px;
  left: 480px;
  overflow: hidden;
}
.v4_197 {
  width: 56px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_198 {
  width: 24px;
  background: url("../images/v4_198.png");
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 20px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v4_199 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6751px;
  left: 905px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_200 {
  width: 56px;
  height: 56px;
  background: url("../images/v4_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6957px;
  left: 905px;
  overflow: hidden;
}
.v4_201 {
  width: 56px;
  height: 56px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v4_202 {
  width: 24px;
  background: url("../images/v4_202.png");
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 20px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v4_205 {
  width: 310px;
  color: rgba(252,244,143,1);
  position: absolute;
  top: 7160px;
  left: 435px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_210 {
  width: 369px;
  height: 369px;
  background: url("../images/v4_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7398px;
  left: 86px;
  overflow: hidden;
}
.v4_211 {
  width: 369px;
  height: 369px;
  background: url("../images/v4_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7398px;
  left: 269px;
  overflow: hidden;
}
.v4_213 {
  width: 369px;
  height: 369px;
  background: url("../images/v4_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7398px;
  left: 1096px;
  overflow: hidden;
}
.v4_214 {
  width: 369px;
  height: 369px;
  background: url("../images/v4_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7398px;
  left: 505px;
  overflow: hidden;
}
.v14_8 {
  width: 100%;
  height: 843px;
  background: url("../images/v14_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7928px;
  left: 0px;
  overflow: hidden;
}
.v4_215 {
  width: 100%;
  height: 644px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 0px;
  overflow: hidden;
}
.v14_7 {
  width: 100%;
  height: 143px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_216 {
  width: 975px;
  height: 700px;
  background: url("../images/v4_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 705px;
  overflow: hidden;
}
.v4_217 {
  width: 529px;
  color: rgba(252,244,143,1);
  position: absolute;
  top: 625px;
  left: 1075px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 67px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_220 {
  width: 706px;
  height: 115px;
  background: rgba(252,244,143,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 0px;
  overflow: hidden;
}
.v4_221 {
  width: 800px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 72px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_222 {
  width: 553px;
  height: 75px;
  background: url("../images/v4_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 70px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_223 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 224px;
  left: 102px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_224 {
  width: 553px;
  height: 75px;
  background: url("../images/v4_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 70px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_225 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 329px;
  left: 102px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_226 {
  width: 553px;
  height: 188px;
  background: url("../images/v4_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 70px;
  border: 2px solid rgba(73,73,73,1);
  overflow: hidden;
}
.v4_227 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 434px;
  left: 102px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_228 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 768px;
  left: 233px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_229 {
  width: 454px;
  color: rgba(147,147,147,1);
  position: absolute;
  top: 628px;
  left: 104px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_233 {
  width: 100%;
  height: 560px;
  background: url("../images/v4_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8771px;
  left: 0px;
  overflow: hidden;
}
.v4_235 {
  width: 100%;
  height: 488px;
  background: url("../images/v4_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9331px;
  left: 128px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
